<nav class="navbar navbar-dark bg-dark p-1">
  <div class="d-flex justify-content-between div_nav">
    <%= image_tag("logo.png", class: "nav_agenda", size: "40x40", alt: "Agenda") =%>
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle div_drop p-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <div class="nav_name">
          EUZINHA
          <%= image_tag("people.png", class: "nav_people", size: "40x40", alt: "User") =%>
        </div>
      </a>

      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button">Info</button>
        <button class="dropdown-item" type="button">Sair</button>
      </div>
    </div>
  </div>
</nav>
