<nav class="navbar navbar-dark bg-dark p-1">
  <div class="d-flex justify-content-between div_nav">
    <a href="index"><%= image_tag("logo.png", class: "nav_agenda", size: "40x40", alt: "Agenda") =%></a><!-- ALTERAR A ROTA -->
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle div_drop p-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <div class="nav_name">
          Euzinha da Sila
          &nbsp&nbsp
          <%= image_tag("people.png", class: "nav_people", size: "30x30", alt: "User") =%>
        </div>
      </a>

      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to 'Info', info_path, class: 'dropdown-item', type: 'button' %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item', type: 'button' %>
      </div>
    </div>
  </div>
</nav>

<div class="col-12 row d-flex justify-content-center" style="margin-top: 5rem;">
  <div class="card card_salvar shadow">
    <center>
      <h2 style="margin-bottom: 20px; padding-top: 0px;">Informações da conta</h2>
    </center>
    <div class="info_nome">
      <strong><label>Nome completo</label></strong>
      <br>
      <label>Euzinha da Sila</label>
    </div>
    <hr style="margin: 10px 0px;">
    <div class="info_aniversario">
      <strong><label>Aniversário</label></strong>
      <br>
      <label>1/1/2000</label>
    </div>
    <hr style="margin: 10px 0px;">
    <div class="info_email">
      <strong><label>Email</label></strong>
      <br>
      <label>email@email.com</label>
    </div>
  </div>
</div>
