@import "bootstrap";

.div_nav {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
}

.div_drop:after {
  display: none;
}

nav, .div_main {
  width: 100%;
}

.nav_agenda {
  border-radius: 5px;
}

.card-body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0px;
}

.nav_name {
  font-size: 18px;
}

.div_main {
  width: 100%;
  margin-top: 30px;
}

.card_nome {
  padding-top: 5px;
  font-weight: bold;
  font-size: 22px;
}

.card_desc {
  padding-bottom: 10px;
}

.card_hora {
  background-color: rgb(0,196,204);
}

.num_hora {
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin-bottom: 15px;
}

.btn-custom {
  background-color: rgb(0,196,204);
  border: none;
}

.btn-custom:hover {
  color: white !important;
}

.form-group {

}

.date {
  margin-left: 15px;
  height: 35px;
}

.btn_salvar {
  width: 100%;
}

.card_salvar {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.card_dir {
  padding-right: 0px;
}

.card_esq {
  padding-left: 0px;
}

.btn_x {
  padding: 0.2rem 0.7rem;
  margin-top: 10px;
}

.hr_custom {
  margin: 0.7rem 0;
}

.hr_login {
  margin: 0.2rem 0;
}

.form-custom {
  margin-bottom: 15px;
}

.form-inline > .user_email{
  width: 100% !important;
}

.form-inline .form-control {
  width: 100% !important;
}

.form-inline > .input > label {
  display: flex;
  flex-direction: row-reverse;
}
